.recharts {
  border: 1px light black;
}

.content {
  /* width: 250px;
  margin-top: 0px; */
  background-color: transparent;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: relative;
  top: 45px;
}
.color {
  color: "#8884d8";
}
